---
---

<section class="mb-8">
  <div>
    <p class="mb-8">
      Welcome to my blog!
      <br />

      Hey, I'm lin! I'm an enthusiastic and hardworking full-stack developer,
      driven by adesire to learn and explore ideas.

      <br />

      <a href={"https://github.com/arctichotpot"} target="_blank">my github</a>
    </p>
  </div>
</section>
