---
---

<section class="mb-8">
  <div>
    <p class="mb-8">
      Welcome to my blog!
      <br />
      <a href={"https://github.com/arctichotpot"} target="_blank"
        >my github</a
      >
    </p>
  </div>
</section>
